* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1130px;
    margin: 0px auto;
}

img {
    display: block;
    max-width: 100%;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1445px;
    top: 28px;
    left: 56px;
}

.header a {
    display: inline-block;
    background: #e50914;
    color: white;
    align-self: flex-start;
    /*Aprofundar*/
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}

.main {
    padding-top: 4rem;
    height: 785px;
    background: url("../img/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    /*Alinhar elementos ao eixo principal*/
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.main-child {
    z-index: 1;
    /*ordem da pilha de um elemento*/
    display: grid;
    justify-items: center;
}

.main h1 {
    font-size: 64px;
    max-width: 510px;
}

.main span {
    font-size: 26px;
    margin-top: 2px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    /*tamanho do input com o button*/
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-cta input {
    padding: 20px 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.form-cta button {
    background-color: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-cta button:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../img/seta.svg");
    margin-left: 20px;
}

.form-cta button:hover {
    /*pesquisar depois*/
    background: #f40612;
}

.main p {
    font-size: 19px;
}

.gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section {
    background: black;
    padding: 3rem 0;
    border-top: 8px solid #222;
}

.section h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

.section p {
    font-size: 26px;
}

.grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}

.img-tv {
    position: relative;
}

.img-tv img {
    /*para a imagem do video ficar por tras da tv*/
    position: relative;
    z-index: 1;
    /*efeito 3d*/
}

.video-tv {
    position: absolute;
    width: 400px;
    top: 85px;
    left: 70px;
    /*Position absolute sempre vai ficar em relação a tag pai ou seja (img-tv) ou seja tenho que inidcar elaa na div pai (position: relative)*/
}

.download .grid>div:first-child {
    order: 2;
}

.download .img-tv {
    order: 1;
}

.device-pile .video-tv {
    width: 340px;
    top: 40px;
    left: 100px;
}

.Children .img-tv {
    order: 1;
}

.Children .grid>div:first-child {
    order: 2;
}

.footer {
    margin-top: 0px;
}

.footer {
    padding: 4rem 0 2rem 0;
    border-top: 8px solid #222;
    background: black;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer p {
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
}